# Directories #
target/
mvnw
mvnw.*
# OS Files #
.DS_Store

# Package Files #
*.war
*.ear
*.db
rebel.xml
# Windows #
Thumbs.db
Desktop.ini
*.svn

# Eclipse #
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# IDEA #
*.iml
*.jpr
*.iws
.idea/
.mvn/
atlassian-ide-plugin.xml