<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' lang='zh-CN'>
<head>
    <link rel="icon" href="http://114.55.74.43:12138/favicon.ico" type="image/x-icon">
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yanwu-photo</title>
    <script src='//alinw.alicdn.com/platform/c/jquery/1.11.3/dist/jquery.min.js'></script>
</head>

<body onload='findAllYear()'>
<div id='tool-file-index'>
    <div id='tool-file-date-div' style='margin-top: 20px;margin-left: 60px'>
        <label for='file-id-cache'>
            <input id="file-id-cache" type="text" value="0" style="display: none">
        </label>
        <label for='tool-file-year-select'>
            <select id='tool-file-year-select' onchange="findMonthByYear()" style='width: 130px;margin-left: 60px'></select>
        </label>
        <label for='tool-file-month-select'>
            <select id='tool-file-month-select' onchange="nextFile()" style='width: 130px;margin-left: 60px'>
                <option value="">-- 请选择月份 --</option>
            </select>
        </label>
        <label for="tool-file-last-button">
            <input id='tool-file-last-button' value='上一张' onclick='lastFile()' type='button' style='width: 130px;margin-left: 60px'/>
        </label>
        <label for="tool-file-next-button">
            <input id='tool-file-next-button' value='下一张' onclick='nextFile()' type='button' style='width: 130px;margin-left: 60px'/>
        </label>
    </div>
    <div id='tool-file-video-div' style='margin-top: 20px; margin-left: 60px; width: 600px; height: 500px'>
    </div>
</div>
</body>

<script th:inline='javascript'>
    const xhr = new XMLHttpRequest()
    const imageType = ["jpeg", "", "PNG", "jpg"]
    const videoType = ["MOV", "mp4"]

    function isImage(type) {
        for (let index = 0; index < imageType.length; index++) {
            if (imageType[index].toLowerCase() === type.toLowerCase()) {
                return true
            }
        }
        return false
    }

    function isVideo(type) {
        for (let index = 0; index < videoType.length; index++) {
            if (videoType[index].toLowerCase() === type.toLowerCase()) {
                return true
            }
        }
        return false
    }

    function findAllYear() {
        const selectElement = document.getElementById('tool-file-year-select');
        while (selectElement.options.length > 0) {
            selectElement.remove(0);
        }
        document.getElementById('tool-file-year-select').add(new Option("-- 请选择年份 --", ""))
        xhr.open('POST', '/file/allYear', true)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.responseType = 'json'
        xhr.onload = function () {
            if (xhr.status === 200) {
                if (xhr.response.status) {
                    for (let index = 0; index < xhr.response.data.length; index++) {
                        document.getElementById('tool-file-year-select').add(new Option('-- ' + xhr.response.data[index] + " --", xhr.response.data[index]))
                    }
                } else {
                    console.error(xhr.response.message)
                }
            }
            nextFile()
        }
        xhr.send()
    }

    function findMonthByYear() {
        const selectElement = document.getElementById('tool-file-month-select');
        while (selectElement.options.length > 0) {
            selectElement.remove(0);
        }
        document.getElementById('tool-file-month-select').add(new Option("-- 请选择月份 --", ""))
        const year = $('#tool-file-year-select').val()
        if (year === '0') {
            return
        }
        xhr.open('POST', '/file/allMonth/' + year, true)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.responseType = 'json'
        xhr.onload = function () {
            if (xhr.status === 200) {
                if (xhr.response.status) {
                    for (let index = 0; index < xhr.response.data.length; index++) {
                        document.getElementById('tool-file-month-select').add(new Option('-- ' + xhr.response.data[index] + " --", xhr.response.data[index]))
                    }
                } else {
                    console.error(xhr.response.message)
                }
            }
        }
        xhr.send()
    }

    function lastFile() {
        findFile('/file/last/' + $('#file-id-cache').val())
    }

    function nextFile() {
        findFile('/file/next/' + $('#file-id-cache').val())
    }

    function findFile(url) {
        const param = {
            data: {
                year: $('#tool-file-year-select').val(),
                month: $('#tool-file-month-select').val()
            }
        }
        xhr.open('POST', url, true)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.responseType = 'json'
        xhr.onload = function () {
            if (xhr.status === 200) {
                if (xhr.response.status) {
                    $('#file-id-cache').val(xhr.response.data.id)
                    if (isImage(xhr.response.data.type)) {
                        let image = document.createElement('img')
                        image.src = xhr.response.data.url
                        image.style.width = '100%'
                        image.style.height = 'auto'
                        document.getElementById('tool-file-video-div').innerHTML = ''
                        document.getElementById('tool-file-video-div').appendChild(image)
                    } else if (isVideo(xhr.response.data.type)) {
                        let video = document.createElement('video')
                        video.src = xhr.response.data.url
                        video.style.width = '100%'
                        video.style.height = 'auto'
                        video.controls = true
                        video.autoplay = true
                        video.loop = false
                        document.getElementById('tool-file-video-div').innerHTML = ''
                        document.getElementById('tool-file-video-div').appendChild(video)
                    }
                } else {
                    console.error(xhr.response.message)
                }
            }
        }
        xhr.send(JSON.stringify(param))
    }

</script>
</html>