<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>tool-box-index</title>
    <script src='//alinw.alicdn.com/platform/c/jquery/1.11.3/dist/jquery.min.js'></script>
</head>
<link href="https://cdn.jsdelivr.net/npm/jsoneditor@5.26.3/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@5.26.3/dist/jsoneditor-minimalist.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.9"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.6.1/lib/index.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.6.1/lib/theme-chalk/index.css">
<style>

</style>

<body>
<div id="connect" v-cloak>
yanwu box tool
</div>
</body>

<script th:inline="javascript">

</script>
</html>