<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<property name="LOG_HOME" value="F:/logs"/>-->
    <property name="LOG_HOME" value="/usr/local/src/logs"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss:sss} [%thread] [%highlight(%-5level)] %logger{100} >> %msg%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{100} >> %msg%n"/>

    <property name="LOG_PATH" value="yanwu-device"/>
    <property name="LOG_FILE_NAME" value="yanwu-device"/>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!--fishbone服务日志输出规则-->
    <appender name="logAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <logger name="java.sql.Statement" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.ResultSet" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--fishbone服务-->
    <logger name="com.yanwu.spring.cloud" level="INFO" additivity="false">
        <appender-ref ref="logAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--spring-->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="logAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>